<div id="background-image">
  <div id="background-light1">
    <div id="background-light2">
      <div id="content" #content>
        <div id="text" #text>
          <div id="collumns">
            <div id="collumn-header">Преимущества</div>
            <div id="collumn-content">
              <div id="wrapper-content">
                <div class="item">
                  <div class="block">
                    <div class="logo"><img src="assets/images/icons/advantages1.svg" alt="Svg"></div>
                    <div class="header">Люди</div>
                    <div class="text">Мы работаем с людьми и для людей и гордимся участием в проектах, делающих жизнь
                      пользователей
                      лучше. Нам важно, чтобы участникам
                      команды и заказчикам было
                      комфортно работать вместе</div>
                  </div>
                  <div class="block">
                    <div class="logo"><img src="assets/images/icons/advantages2.svg" alt="Svg"></div>
                    <div class="header">Время</div>
                    <div class="text">Мы понимаем цену времени, не обещаем невозможного, но всегда придерживаемся
                      поставленных сроков и уважаем дедлайны</div>
                  </div>
                </div>
                <div class="item">
                  <div class="block">
                    <div class="logo"><img src="assets/images/icons/advantages3.svg" alt="Svg"></div>
                    <div class="header">Вовлеченность</div>
                    <div class="text">Мы заинтересованы в успехе
                      бизнес-проектов </div>
                  </div>
                  <div class="block">
                    <div class="logo"><img src="assets/images/icons/advantages4.svg" alt="Svg"></div>
                    <div class="header">Партнерские отношения</div>
                    <div class="text">Мы заслужили доверие более 100 компаний, 75% из них стали нашими постоянными
                      клиентами
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="block">
                    <div class="logo"><img src="assets/images/icons/advantages5.svg" alt="Svg"></div>
                    <div class="header">Инновационные решения</div>
                    <div class="text">Объединяя опыт и видение будущего, технологии и дизайн, мы помогаем бизнесу и
                      государству быть на шаг впереди в цифровом мире</div>
                  </div>
                  <div class="block">
                    <div class="logo"><img src="assets/images/icons/advantages6.svg" alt="Svg"></div>
                    <div class="header">Креативность</div>
                    <div class="text">Мы создаем уникальный и удобный дизайн. Такой, который помогает вам отличаться и
                      быть
                      ближе к пользователям, рассказывает вашу историю и заряжает на действие</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>