footer {
  width: 100%;
  margin: 0px auto 80px;
  color: white;
}

#footer-menu {
  display: flex;
  justify-content: space-between;
  margin: 61px 0px;
}

.footer-topic {
  max-width: 30%;
}

.footer-header {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.footer-block {
  display: flex;
  flex-direction: column;
}

.footer-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}

#footer-istok-logo {
  user-select: none;
  height: 60px;
  width: 131px;
}

#footer-policy {
  display: flex;
  justify-content: space-between;
  color: #8D93A3;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}

#tell-wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin-top: 80px;
}

#tell-us-main {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

#contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputs {
  height: 60px;
  padding-left: 10px;
  margin: 24px 24px 16px 0px;
}

#check {
  color: white;
  margin: 24px 24px 24px 0px;
}

#label {
  margin-left: 10px;
}

#send {
  margin-top: 18px;
  margin-bottom: 24px;
  width: 180px;
  height: 60px;
  border-radius: 60px;
  background-color: #364AFA;
  color: #FFFFFF;
}

#header-text {
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 20px;
}

#header-content {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}

#background-image {
  display: flex;
  justify-content: center;
}

#wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.line {
  color: white;
  width: 100%;
}

#background-image {
  width: 100%;
  background-image: url(/assets/images/footer.png);
  background-position: right 0px;
  background-repeat: no-repeat;
  background-size: initial;
}

#background-light {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(/assets/images/icons/footer-light.svg);
  background-repeat: no-repeat;
  background-position: right 0px;
  background-size: initial;
}

@media (max-width: 1200px) {
  /*footer {
    width: 98%;
  }*/
}

@media (min-width: 1624px) {
  /*footer {
    width: 75%;
  }*/
}