<footer>
  <div id="footer-menu">
    <img id="footer-istok-logo" class="footer-topic" width="40" alt="Istok Logo" src="assets/images/icons/footer-logo.svg"/>
    <div class="footer-topic">
      Меню
      <div class="footer-src">
        <p>О компании</p>
        <p>Услуги</p>
        <p>Продукты</p>
        <p>Карьера</p>
        <p>Пресс-центр</p>
      </div>
    </div>

    <div class="footer-topic">
      Меню
      <div class="footer-src">
        <p>О компании</p>
        <p>Услуги</p>
        <p>Продукты</p>
        <p>Карьера</p>
        <p>Пресс-центр</p>
      </div>
    </div>

    <div class="footer-topic">
      Меню
      <div class="footer-src">
        <p>О компании</p>
        <p>Услуги</p>
        <p>Продукты</p>
        <p>Карьера</p>
        <p>Пресс-центр</p>
      </div>
    </div>
    
  </div>
</footer>