<div id="background-image">
  <div id="background-light">
    <div id="wrapper">
      <div id="tell-wrapper">
        <div id="tell-us-main">
          <div id="header">
            <div id="header-text">Ориентироваться в цифровом мире непросто</div>
            <div id="header-content">Оставьте ваши контактные данные, и мы обсудим ваш проект</div>
          </div>
          <div id="contacts">
            <input class="inputs" type="text" name="name" placeholder="Имя" />
            <input class="inputs" type="email" name="email" placeholder="Адрес эл. почты" />
            <div id="check">
              <input type="checkbox" id="checkbox" />
              <label class="label" for="checkbox"></label>
              <div class="checkbox-text">
                <label class="checkbox-agreement" for="checkbox">
                  Даю согласие на обработку
                  <span class="checkbox-personal">Персональных данных</span>
                </label>
              </div>
            </div>
            <button id="send">Отправить</button>
          </div>
        </div>
      </div>
      <hr class="line">
      <footer>
        <div id="footer-menu">
          <img id="footer-istok-logo" class="footer-topic" width="40" alt="Istok Logo"
            src="assets/images/icons/footer-logo.svg" />
          <div class="footer-topic">
            <div class="footer-header">Меню</div>
            <div class="footer-block">
              <div class="footer-text">О компании</div>
              <div class="footer-text">Услуги</div>
              <div class="footer-text">Продукты</div>
              <div class="footer-text">Карьера</div>
              <div class="footer-text">Пресс-центр</div>
            </div>
          </div>

          <div class="footer-topic">
            <div class="footer-header">Сотрудничество</div>
            <div class="footer-block">
              <div class="footer-text">г. Ижевск и Удмуртская республика</div>
              <div class="footer-text">г. Пермь и Пермский край</div>
              <div class="footer-text">г. Сургут и ХМАО-Югра</div>
              <div class="footer-text">г. Муравленко и ЯНАО</div>
            </div>
          </div>

          <div class="footer-topic">
            <div class="footer-header">Контакты</div>
            <div class="footer-block">
              <div class="footer-text">г. Ижевск, ул. Максима Горького, д. 43, офис 435</div>
              <div class="footer-text">hello@istokudm.ru</div>
              <div class="footer-text">+7 (3412) 93-03-80</div>
            </div>
          </div>

        </div>
        <hr class="line">

        <div id="footer-policy">
          <div>© 2023 ООО «Исток»</div>
          <div>Политика конфиденциальности</div>
        </div>
      </footer>
    </div>
  </div>
</div>