footer {
  width: 75%;
  margin: 0px auto 0px;
}
#footer-menu {
  display: flex;
  justify-content: space-between;
}
#footer-istok-logo {
  height: 60px;
  width: 131px;
}
.footer-topic {
  color: white;
  margin: 61px 0px;
}