<div id="background-image">
  <div id="background-light">
    <div id="wrapper">
      <div id="tell-wrapper">
        <div id="tell-us-main">
          <div id="header">
            <p id="header-text">Расскажите нам о своем проекте, и мы составим стратегию его реализации</p>
            <p>Оставьте ваши контактные данные, и мы проконсультируем вас</p>
          </div>
          <div id="contacts">
            <input class="inputs" type="text" name="name" placeholder="Имя" />
            <input class="inputs" type="email" name="email" placeholder="Адрес эл. почты" />
            <div id="check">
              <input type="checkbox" id="checkbox" />
              <label id="label" for="checkbox">Даю согласие на обработку Персональных данных</label>
            </div>
            <button id="send">Отправить</button>
          </div>
        </div>
      </div>
      <hr class="line">
      <footer>
        <div id="footer-menu">
          <img id="footer-istok-logo" class="footer-topic" width="40" alt="Istok Logo"
            src="assets/images/icons/footer-logo.svg" />
          <div class="footer-topic">
            Меню
            <div class="footer-src">
              <p>О компании</p>
              <p>Услуги</p>
              <p>Продукты</p>
              <p>Карьера</p>
              <p>Пресс-центр</p>
            </div>
          </div>

          <div class="footer-topic">
            Сотрудничество
            <div class="footer-src">
              <p>г. Ижевск и Удмуртская республика</p>
              <p>г. Пермь и Пермский край</p>
              <p>г. Сургут и ХМАО-Югра</p>
              <p>г. Муравленко и ЯНАО</p>
            </div>
          </div>

          <div class="footer-topic">
            Контакты
            <div class="footer-src">
              <p>г. Ижевск, ул. Максима Горького, д. 43, офис 435</p>
              <p>hello@istokudm.ru</p>
              <p>+7 (3412) 93-03-80</p>
            </div>
          </div>

        </div>
        <hr class="line">

        <div id="footer-policy">
          <p>© 2023 ООО «Исток»</p>
          <p>Политика конфиденциальности</p>
        </div>
      </footer>
    </div>
  </div>
</div>