footer {
  width: 75%;
  margin: 0px auto 80px;
  color: white;
}
#footer-menu {
  display: flex;
  justify-content: space-between;
}
#footer-istok-logo {
  height: 60px;
  width: 131px;
}
.footer-topic {
  margin: 61px 0px;
}
#footer-policy {
  display: flex;
  justify-content: space-between;
  color: #8D93A3;
}