<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div id="wrapper">

    <!-- Toolbar -->
    <app-header></app-header>

    
    
    <app-about-company></app-about-company>

    <app-circle-slider [images]="circleSliderImages" [icons]="circleSliderIcons"
        [selectedIcons]="circleSliderSelectedIcons" [dots]="true" [controls]="true"
        [deltaAngle]="rotationAngle" [iconsList]="circleListIcons"
        [text]="text"></app-circle-slider>

    <app-advantages></app-advantages>

    <!--<app-products></app-products>

    <app-services></app-services>

    <app-career></app-career>

    <app-cooperate></app-cooperate>

    <app-press></app-press>

    <app-footer></app-footer>-->

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->