app-header {
    width: 100%;
}
router-outlet {
    width: 100%;
}
app-footer {
    background-color: #061034;
    width: 133.33333%;
}
app-content {
    width: 100%;
}
app-tell-us {
    width: 133.33333%;
    background-color: #364AFA;
}
#wrapper {
    max-width: 1200px;
    display: flex;
    margin: 0px auto 0px;
    flex-direction: column;
    align-items: center;
}