<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div id="wrapper">

    <!-- Toolbar -->
    <app-header></app-header>

    <!--Slider-->
    <!--<app-slider [images]="sliderImages" [dots]="true" [controls]="true"></app-slider>-->

    <app-about-company></app-about-company>

    <app-circle-slider [images]="circleSliderImages" [icons]="circleSliderIcons" [selectedIcons]="circleSliderSelectedIcons" [dots]="true" [controls]="true" [deltaAngle]="rotationAngle"></app-circle-slider>

    <app-advantages></app-advantages>

    <app-products></app-products>

    <!-- Content -->
    <!--<app-content></app-content>-->

    <app-career></app-career>

    <app-press></app-press>

    <!--TellUs-->
    <app-tell-us></app-tell-us>
    
    <!-- Footer -->
    <app-footer></app-footer>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->