app-header {
    width: 75%;
}
router-outlet {
    width: 75%;
}
app-footer {
    background-color: #061034;
    width: 100%;
}
app-content {
    width: 75%;
}
app-tell-us {
    width: 100%;
    background-color: #364AFA;
}
app-slider {
    width: 75%;
}
app-circle-slider {
    width: 75%;
}
app-about-company {
    width: 75%;
}
app-products {
    width: 75%;
}
app-press{
    width: 75%;
}
app-career {
    width: 100%;
}
#wrapper {
    max-width: 1600px;
    /*min-width: 1200px;*/
    display: flex;
    margin: 0px auto 0px;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 1200px) { 
    /*app-tell-us {
        width: 100%;
    }
    app-footer {
        width: 100%;
    }*/
}

@media (min-width: 1624px){ 
    /*app-tell-us {
        width: 100%;
    }
    app-footer {
        width: 100%;
    }*/
}