<div class="content">
  <div id="text" class="side" #text>
    <div class="scroll" [style.top.px]="position" #scroll>
      <div class="header"><span id="blue">Весь спектр услуг</span> для максимизации эффективности бизнеса</div>
      <div class="main">
        <div>Используя современные технологии, </div>
        <div>внедряем результативные практики  </div>
        <div>для решения амбициозных задач.</div>
      </div>
    </div>
  </div>
  <div class="side">
    <div class="block">
      <div class="block-header">
        <img src="assets/images/icons/services1.svg" alt="Svg">
        <div class="header-text">Информационная безопасность</div>
      </div>
      <div class="block-content">
        <ul class="list">
          <li class="row"><span class="color">Моделирование угроз и оценка рисков</span></li>
          <li class="row"><span class="color">Оценка соответствия требованиям ИБ</span></li>
          <li class="row"><span class="color">Тесты на проникновение</span></li>
          <li class="row"><span class="color">Проектирование системы защиты информации</span></li>
          <li class="row"><span class="color">Разработка документации по защите информации</span></li>
          <li class="row"><span class="color">Установка и настройка средств защиты</span></li>
          <li class="row"><span class="color">Техническая поддержка системы защиты информации</span></li>
        </ul>
      </div>
    </div>
    <div class="block">
      <div class="block-header">
        <img src="assets/images/icons/services2.svg" alt="Svg">
        <div class="header-text">Информационные технологии</div>
      </div>
      <div class="block-content">
        <ul class="list">
          <li class="row"><span class="color">Разработка сайтов</span></li>
          <li class="row"><span class="color">Разработка мобильных приложений</span></li>
          <li class="row"><span class="color">Интернет-маркетинг</span></li>
          <li class="row"><span class="color">Разработка ПО</span></li>
        </ul>
      </div>
    </div>
    <div class="block">
      <div class="block-header">
        <img src="assets/images/icons/services3.svg" alt="Svg">
        <div class="header-text">Дизайн и брендинг</div>
      </div>
      <div class="block-content">
        <ul class="list">
          <li class="row"><span class="color">UX/UI</span></li>
          <li class="row"><span class="color">Брендинг и стратегия</span></li>
          <li class="row"><span class="color">Дизайн мобильных приложений</span></li>
          <li class="row"><span class="color">Дизайн сайта</span></li>
        </ul>
      </div>
    </div>
    <div class="block">
      <div class="block-header">
        <img src="assets/images/icons/services4.svg" alt="Svg">
        <div class="header-text">Системная интеграция</div>
      </div>
      <div class="block-content">
        <ul class="list">
          <li class="row"><span class="color">Фотовидеофиксация</span></li>
          <li class="row"><span class="color">Весовой и габаритный контроль</span></li>
          <li class="row"><span class="color">Светофорные объекты</span></li>
          <li class="row"><span class="color">Платные парковки</span></li>
          <li class="row"><span class="color">СКУД, ОПС и СКС</span></li>
          <li class="row"><span class="color">Обслуживание серверов</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>