<div id="main">
    <h2 id="title">О компании</h2>
    <div id="head">
        <div class="block" id="left">Istok – компания, выросшая из сообщества единомышленников. Наша главное преимущество – наша команда, мы гордимся каждым ее участником и уверены в их профессионализме. </div>
        <div class="block" id="right">Компания Istok предоставляет комплекс услуг в области внедрения, обслуживания и защиты информационных систем любой сложности.</div>
    </div>
    <img id="image" src="assets/images/about-company.png">
</div>