<div id="background-image">
  <div id="background-light1">
    <div id="background-light2">
      <div class="wrapper">
        <div class="toolbar">
          <img id="istok-logo" width="40" alt="Istok Logo" src="assets/images/icons/logo.svg" />
          <div class="menu">
            <a class="menu-button" href="/">О компании</a>
            <a class="menu-button" href="/">Услуги</a>
            <a class="menu-button" href="/">Продукты</a>
            <a class="menu-button" href="/">Карьера</a>
            <a class="menu-button" href="/">Пресс-центр</a>
            <a class="menu-button" href="/">Контакты</a>
          </div>
        </div>
        <div id="text">
          <div id="header-text">Эффективная защита информационных систем
          </div>
          <div id="content">Весь спектр цифровых решений и услуг для максимизации эффективности бизнеса
          </div>
        </div>
        <div id="buttons">
          <div class="button">
            <img src="assets/images/icons/header1.svg" width="35px" height="35px" alt="Svg">
            <div class="button-text">
              Информационная безопасность
            </div>
          </div>
          <div class="button">
            <img src="assets/images/icons/header2.svg" width="35px" height="35px" alt="Svg">
            <div class="button-text">
              Информационные технологии
            </div>
          </div>
          <div class="button">
            <img src="assets/images/icons/header3.svg" width="35px" height="35px" alt="Svg">
            <div class="button-text">
              Дизайн и брендинг
            </div>
          </div>
          <div class="button">
            <img src="assets/images/icons/header4.svg" width="35px" height="35px" alt="Svg">
            <div class="button-text">
              Системная интеграция
            </div>
          </div>
          <!--<img id="header-image" src="assets/images/header-image.png">-->
        </div>
      </div>
    </div>
  </div>
</div>