.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  width: 100%;
}

.toolbar #istok-logo {
  user-select: none;
  height: 60px;
  width: 131px;
}

.toolbar .menu {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  width: 100%;
}

.menu-button {
  margin-left: 12px;
  margin-right: 12px;
  text-decoration: none;
  color: #ffffff;

  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;

  opacity: 80%;
}

.wrapper {
  width: 75%;
  max-width: 1200px;
}

#header-text {
  font-size: 72px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

.content {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  opacity: 80%
}

#buttons {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
}

.button {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);

  width: calc(50% - 10px);
  padding: 24px;
}

.row {
  width: calc(50% - 10px);
  display: flex;
  justify-content: space-between;
}

.left {
  /*margin-right: 10px;*/
}

.right {
  /*margin-left: 10px;*/
}

.button-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 80%;

  height: 50px;

  display: flex;
  align-items: center;
}

.background-image {
  width: 100%;
  background-image: url(/assets/images/header-image.png);
  background-position: right 0px;
  background-repeat: no-repeat;
  background-size: initial;
}

.background-light1 {
  width: 100%;
  background-image: url(/assets/images/icons/background-light1.svg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: initial;
}

.background-light2 {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(/assets/images/icons/background-light2.svg);
  background-repeat: no-repeat;
  background-position: right 0px;
  background-size: initial;
}

.blue {
  color: #364AFA;
}

.hide {
  opacity: 0%;
}

.noMargin {
  margin: 0px;
}

.svg {
  width: 35px;
  height: 35px;
}

.line {
  color: #8D93A3;
  width: 100%;
  opacity: 50%;
}

.header {
}

#dropdown-icon {
  width: 26px;
  height: 18px;
}

.dropdown {
  background-color: black;
  position: absolute;
  width: 100%;
  left: 0px;
  /*opacity: 0%;*/
}

.drop-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-header {
  font-weight: 600;
  Line-height: 19.2px;
}

.noImage {
  background-image: none;
}

.noOpacity {
  opacity: 100%;
}

@media (min-width: 480px) {
  .menu-button {
    line-height: 23px;
  }

  .drop-menu {
  }

  .row {
  }
}

@media (max-width: 480px) {
  .contacts {
  }
  #header-text {
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
  }

  #content {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }

  .button-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;

    height: 40px;
  }

  .svg {
    width: 24px;
    height: 24px;
  }

  .button {
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 18px;
  }

  .button-text {
    margin-left: 15px;
  }

  .toolbar #istok-logo {
    user-select: none;
    width: 66px;
  }

  .header {
  }

  .menu-button {
    line-height: 23px;
  }

  .row {
  }
}

@media (max-width: 900px) {
  .wrapper {
    width: 93.75%;
  }

  /*.row {
    width: 100%;
  }

  #buttons {
    flex-direction: column;
    align-items: center;
  }*/
}

@media (max-width: 1100px) and (min-width: 900px) {
  .wrapper {
    width: 85%;
  }

  #dropdown-icon {
    width: 46px;
    height: 48px;
  }
}

@media (max-width: 900px) and (min-width: 640px) {
  .header {
  }
  #header-text {
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
  }

  #dropdown-icon {
    width: 36px;
    height: 28px;
  }

  .button {
  }

  .row {
  }

  .button-text {
  }
}

@media (max-width: 320px) {
  #header-text {
    font-size: 25px;
  }
}

@media (max-width: 640px) and (min-width: 480px) {
  .header {
  }

  #header-text {
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
  }

  .button {
  }

  .row {
  }

  .button-text {
  }
}

@media (max-width: 1050px) {
  .row {
    width: 100%;
  }

  #buttons {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .line {
  }
  .row {
    flex-direction: column;
  }
}