.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  color: white;
  font-weight: 600;
  max-width: 100%;
}

.toolbar #istok-logo {
  user-select: none;
  height: 60px;
  width: 131px;
  margin-top: 20px;
  /*margin-left: 200px;*/
}

.toolbar .menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 10px;
  white-space: nowrap;
  /*margin-right: 200px;*/
}

.toolbar .menu-button {
  margin: 12px;
  text-decoration: none;
  color: #8D93A3;
}