<div class="background-image" [ngClass]="{'noImage': dropDown}"
  [ngStyle]="{'background-position-x.px': screenWidth / 2 - 161}">
  <div class="background-light1" [ngClass]="{'noImage': dropDown}">
    <div class="background-light2" [ngClass]="{'noImage': dropDown}">
      <div class="wrapper">
        <div class="header">
          <div class="toolbar">
            <img id="istok-logo" alt="Istok Logo" src="assets/images/icons/logo.svg" />
            <div class="menu" *ngIf="screenWidth > 1100;">
              <div class="menu-button" (click)="scrollTo($event)" id="app-about-company">О компании</div>
              <div class="menu-button" (click)="scrollTo($event)" id="app-services">Услуги</div>
              <div class="menu-button" (click)="scrollTo($event)" id="app-products">Продукты</div>
              <div class="menu-button" (click)="scrollTo($event)" id="app-career">Карьера</div>
              <div class="menu-button" (click)="scrollTo($event)" id="app-press">Пресс-центр</div>
              <div class="menu-button last" (click)="scrollTo($event)" id="app-footer">Контакты</div>
            </div>
            <img id="dropdown-icon" alt="Istok Logo" src="assets/images/icons/header-dropdown1.svg"
              *ngIf="screenWidth <= 1100;" (click)="dropdownClick($event)" />
          </div>
          <hr class="hide noMargin" [ngClass]="{'line': dropDown}">
        </div>
        <div class="dropdown" *ngIf="dropDown" [ngStyle]="{'height.px': main.offsetHeight}">
          <div class="drop-menu">
            <div class="menu-button" (click)="scrollTo($event)" id="app-about-company">О компании</div>
            <div class="menu-button" (click)="scrollTo($event)" id="app-services">Услуги</div>
            <div class="menu-button" (click)="scrollTo($event)" id="app-products">Продукты</div>
            <div class="menu-button" (click)="scrollTo($event)" id="app-career">Карьера</div>
            <div class="menu-button" (click)="scrollTo($event)" id="app-press">Пресс-центр</div>
            <div class="menu-button" (click)="scrollTo($event)" id="app-footer">Контакты</div>
          </div>
          <div class="contacts">
            <div class="contacts-header menu-button">Контакты</div>
            <div class="menu-button">г. Ижевск, ул. Максима Горького, д. 43, офис 435</div>
            <div class="menu-button">hello@istokudm.ru</div>
            <div class="menu-button">+7 (3412) 93-03-80</div>
          </div>
        </div>
        <div #main>
          <div id="header-text">
            <div class="blue">Эффективная защита </div>
            <div>информационных</div>
            <div>систем</div>
          </div>
          <div class="content" [ngClass]="{'noOpacity': dropDown}"> 
            <div>Весь спектр цифровых решений и услуг</div>
            <div>для максимизации эффективности бизнеса</div>
          </div>
          <div id="buttons">
            <div class="row">
              <div class="button left"><!--[ngClass]="{'noBorders': dropDown}"-->
                <img src="assets/images/icons/header1.svg" class="svg" alt="Svg">
                <div class="button-text" [ngClass]="{'noOpacity': dropDown}">
                  Информационная безопасность
                </div>
              </div>
              <div class="button right">
                <img src="assets/images/icons/header2.svg" class="svg" alt="Svg">
                <div class="button-text" [ngClass]="{'noOpacity': dropDown}">
                  Информационные технологии
                </div>
              </div>
            </div>
            <div class="row">
              <div class="button left">
                <img src="assets/images/icons/header3.svg" class="svg" alt="Svg">
                <div class="button-text" [ngClass]="{'noOpacity': dropDown}">
                  Дизайн и брендинг
                </div>
              </div>
              <div class="button right">
                <img src="assets/images/icons/header4.svg" class="svg" alt="Svg">
                <div class="button-text" [ngClass]="{'noOpacity': dropDown}">
                  Системная интеграция
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>