<div id="main">
    <div id="title">Что предлагаем</div>
    <hr class="border">
    <div class="pair">
        <div class="block left">Программное обеспечение</div>
        <div class="block right">Антивирусы и безопасность, операционные системы, офисные программы, автоматизация
            бизнес-процессов, бухгалтерские программы, CMS и Битрикс 24</div>
    </div>
    <hr class="border">
    <div class="pair">
        <div class="block left">Дорожные знаки</div>
        <div class="block right">Используем программы для отображения различной информации о транспортной ситуации и
            событиях на уличных информационных табло и управляемых дорожных знаках</div>
    </div>
    <hr class="border">
    <div class="pair">
        <div class="block left">Камеры и видеонаблюдение</div>
        <div class="block right">Внедряем системы наблюдения, позволяющие отслеживать происходящее на территории
            в режиме реального времени</div>
    </div>
    <hr class="border">
    <div class="pair">
        <div class="block left">Продукты СКУД</div>
        <div class="block right">Система контроля и управления доступом — комплекс технических решений, предназначенный
            для обеспечения безопасности и контроля доступа в зданиях и на территориях</div>
    </div>
    <hr class="border">
    <div class="pair">
        <div class="block left">Умный дом</div>
        <div class="block right">Система Умный дом — это комплексное решение, позволяющее автоматизировать управление
            домом. Она управляет различными устройствами и системами, такими как освещение, отопление, кондиционирование
            воздуха, мультимедийная система, система безопасности и др.</div>
    </div>
</div>