#content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.pair {
  display: flex;
  flex-direction: row;
  width: 75%;
  max-width: 1200px;
  margin-bottom: 60px;
}

.left {
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: left;
  display: block;
  font-weight: bold;
  width: 50%;
}

.right {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  width: 50%;
}

.main-img {
  width: 100%;
  user-select: none;
}

#blue {
  color: #364AFA;
}

@media (max-width: 900px) {
  .pair {
    width: 93.75%;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }
}

@media (max-width: 1100px) and (min-width: 900px) {
  .pair {
    width: 85%;
  }
}

@media (max-width: 900px) and (min-width: 640px) {
  .left {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 44px;
  }

  .right {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 640px) {
  .left {
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 31px;
  }

  .right {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
  }
}