<div id="main">
    <h2 id="title">Пресс-центр</h2>
    <hr class="border">
    <div class="pair">
        <div class="block left">Что такое GSM сигнализация?</div>
        <div class="block right">Как работает GSM сигнализация? О принципах работы, установке и настройке, преимуществах и недостатках работы gsm систем</div>
    </div>
    <hr class="border">
    <div class="pair">
        <div class="block left">В России впервые тестируют постквантовую защиту для видеоконференцсвязи</div>
        <div class="block right">В России впервые тестируют постквантовую защиту для видеоконференцсвязи</div>
    </div>
    <hr class="border">
    <div class="pair">
        <div class="block left">Как работает умный дом и насколько сложно им управлять?</div>
        <div class="block right">Работа всех систем проходит в автоматизированном режиме, а управление с помощью смартфона, планшета и обычных выключателей. Умный дом состоит из нескольких устройств установленных по дому, каждое из которых имеет свой собственный интеллект.</div>
    </div>
    <hr class="border">
    <div class="pair">
        <div class="block left">Что такое СКУД?</div>
        <div class="block right">СКУД — аббревиатура, которая расшифровывается как «система контроля и управления доступом». Это комплекс оборудования, главная функция которого — ограничение доступа на охраняемый объект. Элементы СКУД объединены в сеть, которая управляется с помощью специализированного программного оборудования.</div>
    </div>
</div>