<div class="content">
  <div id="text" class="block">
    <div id="header">Сотрудничаем</div>
    <div id="content">Мы заслужили доверие более 100 компаний, 75% из них стали нашими постоянными клиентами</div>
  </div>
  <div class="block companies">
    <div class="company top left"><img src="assets/images/icons/companies1.svg" alt="Svg"></div>
    <div class="company bottom left"><img src="assets/images/icons/companies2.svg" alt="Svg"></div>
  </div>
  <div class="block companies">
    <div class="company top"><img src="assets/images/icons/companies3.svg" alt="Svg"></div>
    <div class="company bottom"><img src="assets/images/icons/companies4.svg" alt="Svg"></div>
  </div>
</div>